
                <h1 class="page-header"><%= action %></h1>
                <% if @admin.errors.any? %>
                  <% @admin.errors.full_messages.each do |message| %>
                    <script>
                    $.notify("<%= message %>", "error");
                    </script>
                  <% end %>
                  <% end %>
                <div class="col-lg-6">
                  <%= form_for([:backoffice, @admin]) do |f| %>
                <div class="form-group">
                  <%= f.label :name %><br />
                  <%= f.text_field :name, :class => 'form-control', :placeholder => 'Nome do Administrador' %><br />
                </div>
                <div class="form-group">
                  <%= f.label :"Email" %><br />
                  <%= f.email_field :email, :class => 'form-control', :placeholder => 'Email do Administrador' %><br />
                </div>
                <div class="form-group">
                  <%= f.label :"Password" %><br />
                  <%= f.password_field :password, :class => 'form-control', :placeholder => 'Password do Administrador' %><br />
                </div>
                <div class="form-group">
                  <%= f.label :"Re-type Password" %><br />
                  <%= f.password_field :password_confirmation, :class => 'form-control', :placeholder => 'Confirme o Password' %> <br />
                </div>
                <div class="form-group">
                  <%= f.label :role %><br />
                  <%= f.collection_radio_buttons(:role, options_for_roles, :id, :description) do |b| %>
                      <div class="radio">
                        <label>
                           <%= b.label {b.radio_button + b.text} %>
                        </label>
                      </div>
                  <% end %>
                </div>
                <div class="form-group">
                  <%= f.submit "Salvar", :class => 'btn btn-default' %>
                </div>
                </div>
                <% end %>
              </div>
