
                <h1 class="page-header"><%= action %></h1>
                <% if @category.errors.any? %>
                  <% @category.errors.full_messages.each do |message| %>
                    <script>
                    $.notify("<%= message %>", "error");
                    </script>
                  <% end %>
                  <% end %>
                <div class="col-lg-6">
                  <%= form_for([:backoffice, @category]) do |f| %>
                <div class="form-group">
                  <%= f.label :"Descrição" %><br />
                  <%= f.text_field :description, :class => 'form-control', :placeholder => 'Ex.: Animal / Pet' %><br />
                  <%= f.submit "Salvar", :class => 'btn btn-default' %>
                </div>
                <% end %>
              </div>
